* {
  margin: 0;
  padding: 0;
}

body  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background: #a9a9a9;
  width: 100vw;
  height: 10vh;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: .5px solid black;
  min-width: 380px;
  max-width: 25vw;
  min-height: 500px;
  max-height: 80vh;
  background-color: cadetblue;
  border-radius: 1em;
  border: 0;
}

.pure-input-2 {
  margin-bottom: 1em;
  margin-right: 1em;
}
.main-list {
  display: flex;
  flex: .75;
  min-height: 60vh;
  min-width: 30vw;
}

.ul-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.list-items {
  flex: 1;
}

.list-item {
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 1em;
}

.list-item-form-buttons {
  display: flex;
  margin-bottom: 1em;
}

.button-complete {
  background: rgb(28, 184, 65);
  margin-right: .5em;
}

.button-delete {
  background: rgb(202, 60, 60);
}
